{% extends "main.html" %}

{% block tab %}
<div class="container">
  <div class="card-panel">
    {# <div class='divider'></div> #}
      <div class='section'>
        <h5>Reason</h5>
        <p>This website was created as a part of my Web Programming Course, in my 4th year</p>
      </div>
    <div class='divider'></div>
      <div class='section'>
        <h5>Purpose</h5>
        <p>The website acts as a helpdesk system, to allow for veiwing the teams, their workers and the jobs being worked upon.</p>
      </div>
    <div class='divider'></div>
      <div class='section'>
        <h5>Student Details</h5>
        <p><strong style='font-weight:bold;'>Name : </strong><em>Anmol Chawla</em></p>
        <p><strong style='font-weight:bold;'>Registration Number : </strong><em>RA1611020010143</em></p>
        <p><strong style='font-weight:bold;'>Department : </strong><em>Software Engineering</em></p>
      </div>
    </div>
</div>
{% endblock %}