{% extends "main.html" %}

{% block tab %}
<div class="container">
  <div class="card-panel">
    {# <div class='divider'></div> #}
      <div class=section>
        <h5>W3 Schools</h5>
        <p>W3Schools is a web developers site, with tutorials and references on web development languages such as HTML, CSS, JavaScript, PHP, SQL, Python, jQuery, Java, W3.CSS, and Bootstrap, covering most aspects of web programming.</p>
        <p><a href='https://www.w3schools.com/' target="_blank">W3 Schools Home</a></p>
      </div>
    <div class='divider'></div>
      <div class='section'>
        <h5>Materialize CSS</h5>
        <p>A css framework, which allows for fast and easy development of websites</p>
        <p><a href='https://materializecss.com/about.html' target="_blank">Materialize</a></p>
      </div>
    <div class='divider'></div>
      <div class='section'>
        <h5>Flask</h5>
        <p>Flask is a lightweight WSGI web application framework. It is designed to make getting started quick and easy, with the ability to scale up to complex applications.</p>
        <p><a href='https://flask.palletsprojects.com/' target="_blank">Documentation</a></p>
      </div>
    <div class='divider'></div>
      <div class='section'>
        <h5>SQLite</h5>
        <p>SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine.</p>
        <p><a href='https://www.sqlite.org/' target="_blank">SQLite Home</a></p>
      </div>
      <div class='divider'></div>
        <div class='section'>
          <h5>Python</h5>
          <p>Python is an interpreted, high-level, general-purpose programming language.</p>
          <p><a href='https://www.python.org/' target="_blank">Python Home</a></p> 
        </div>
    </div>
</div>
{% endblock %}