{% extends "base.html" %}

{% block content %}

<nav class="nav-extended">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo" style="margin-left:6px;">Welcome</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/main">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/credits">Credits</a></li>
		</ul>
	</div>
	<div class="nav-content">
		<ul class="tabs tabs-transparent">
			<li class="tab"><a class="active" href="#teams" onclick="call_team()">Teams</a></li>
			<li class="tab"><a href="#workers" onclick="call_worker()">Workers</a></li>
			<li class="tab"><a href="#jobs" onclick="call_job()">Jobs</a></li>
		</ul>
	</div>
</nav>
<ul class="sidenav" id="mobile-demo">
	<li><a href="/main">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/credits">Credits</a></li>
</ul>

<div id="teams">{% block teams %}{% endblock %}</div>
<div id="workers">{% block workers %}{% endblock %}</div>
<div id="jobs">{% block jobs %}{% endblock %}</div>

<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.tabs').tabs();
  	$.ajax("{{ url_for('main_team') }}").done(function(reply){
  				$('#teams').html(reply);
  		})
  });
  function call_team(){
  		$.ajax("{{ url_for('main_team') }}").done(function(reply){
  				$('#teams').html(reply);
  		})
  }
  function call_worker(){
  		$.ajax("{{ url_for('main_worker') }}").done(function(reply){
  				$('#workers').html(reply);
  		})
  	}
  function call_job(){
  		$.ajax("{{ url_for('main_jobs') }}").done(function(reply){
  				$('#jobs').html(reply);
  		})
  	}
</script>
{% endblock %}