{% extends "base.html" %}

{% block content %}

<nav class="nav-extended">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo" style="margin-left:6px;">Welcome</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/main">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/credits">Credits</a></li>
		</ul>
	</div>
	<div class="nav-content">
		<ul class="tabs tabs-transparent">
			<li class="tab"><a href="/teams" target="_self">Teams</a></li>
			<li class="tab"><a href="/workers" target="_self">Workers</a></li>
			<li class="tab"><a href="/jobs" target="_self">Jobs</a></li>
		</ul>
	</div>
</nav>
<ul class="sidenav" id="mobile-demo">
	<li><a href="/main">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/credits">Credits</a></li>
</ul>

<div class="container">	
	{% block tab %}{% endblock %}
</div>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  $(document).ready(function(){
  	var instance = M.Tabs.init(el, options);
  });

  // $(document).ready(function(){
  // var instance = M.Tabs.getInstance();
  // instance.updateTabIndicator();
// });
</script>
{% endblock %}