{% extends "base.html" %}

{% block content %}

<nav class="nav-extended">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo" style="margin-left:6px;">Welcome</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#">Action 1</a></li>
			<li><a href="#">Action 2</a></li>
			<li><a href="#">Action 3</a></li>
		</ul>
	</div>
	<div class="nav-content">
		<ul class="tabs tabs-transparent">
			<li class="tab"><a href="/teams">Teams</a></li>
			<li class="tab"><a href="/workers">Workers</a></li>
			<li class="tab"><a href="/jobs">Jobs</a></li>
		</ul>
	</div>
</nav>
<ul class="sidenav" id="mobile-demo">
	<li><a href="#">Sass</a></li>
	<li><a href="#">Components</a></li>
	<li><a href="#">Javascript</a></li>
	<li><a href="#">Mobile</a></li>
</ul>

<div class="container">	
	{% block tab %}{% endblock %}
</div>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
{% endblock %}