<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div class="container">
	<header>
		<h1 id="name">Anmol</h1>
		
		<div id="designation">
		
			<span class="title">Backend Developer</span>
			<span class="organization">Yogya.ai</span>
		
		</div>
		
		<div class="contact">
			<div class="email"><a href="mailto:anmolchawla@gmail.com">anmolchawla10@gmail.com</a></div>
		</div>
		
	</header>
	
	<div class="content" role=main>
	
		<section id="objective">
			<h2 class="title">Profile</h2>
			<div class="description">
				<p>
					A fledgling Server Administrator with a demonstrated history of working in the education management industry. Skilled in Python (Programming Language), Java, C (Programming Language), C++, and Data Structures. Strong information technology professional with a Bachelor of Technology focused in Computer Software Engineering from SRM University. 
				</p>			
			</div> 
		</section>
		
		
		<section id="Education">
			<h2 class="title">Education</h2>
			<div class="description">
				
				<table>
					<thead>
						<td>Duration</td>
						<td>Qualification</td>
						<td>Institute/School</td>
						<td>Result</td>
					</thead>
					<tr>
						<td>4 Years</td>
						<td>B.Tech</td>
						<td>SRM IST</td>
						<td>90.75%</td>
					</tr>
					<tr> 
						<td>1 Year</td>
						<td>Senior Secondary</td>
						<td>NCS, Mumbai</td>
						<td>88.6%</td>
					</tr>
						<td>1 Year</td>
						<td>Secondary</td>
						<td>NCS, New Delhi</td>
						<td>95%</td>
					</tr>	
				</table>
			</div>
		</section>
			
		<section id="projects">
			<h2 class="title">Projects Undertaken</h2>
			<div class="description">
				<section class="project">
					<h3 class="title">ticket-django</h3>
					<div class="meta">
						<span class="field">Django website</span> <span class="date">2018</span>
					</div>
					<p class="description"> A django website for allowing ticket sales and verification online. This allowed the fest members to have a central location for all the sales information. </p>
				</section>
				<section class="project">
					<h3 class="title">Issue-Ticket-Management-System</h3>
					<div class="meta">
						<span class="field">Python TKinter</span> <span class="date">2018</span>
					</div>
					<p class="description">An offline application for managing service tickets and service teams</p>
				</section> 
				<section class="project">
					<h3 class="title">standard-twitter-search</h3>
					<div class="meta">
						<span class="field">Python Flask</span> <span class="date">2019</span>
					</div>
					<p class="description">A flask server, which provides an API to access and search custom strings with the Twitter API</p>
				</section> 
				</div>
		</section>
	
	</div> 
	</div> 
</body>
</html>
