{% block workers %}
<div class="container">
    <div class="col s12 m5">
      <div class="card-panel">
        This page shows the various workers and their teams.
      </div>
    </div>
    <div class="card col s12 m6">
    	<div class="container">
    		<table class="highlight centered responsive-table">
        		<thead>
          			<tr>
          	  			<th>Worker Number</th>
              			<th>Worker</th>
              			<th>Team</th>
          			</tr>
        		</thead>
        		<tbody>
              {% for worker in workers %}
                <tr>
                  <td>{{worker['id']}}</td>
                  <td>{{worker['worker_name']}}</td>
                  <td>{{worker['team_name']}}</td>
                </tr>
              {% endfor %}
            </tbody>
      		</table>
  		</div>
	</div>
  <!-- Modal Trigger for Team Form -->
    <a class="waves-effect waves-light btn-large red accent-2 modal-trigger" href="#addworkers">Add more workers</a>

  <!-- Modal Structure -->
    <div id="addworkers" class="modal">
      <div class="modal-content">
        <h5>Add a Worker</h5>
          <form action="/add/worker" method="POST" name="workerform">
            <div class="container">
              	<div class='row'>
              		<div class='input-field col s12'>
                        <input class='validate' type="text" name='workername' required />
                        <label for='workername'>Worker Name</label>
                    </div>
            	</div>
				<div class="row">
					<div class='input-field col s12'>
						<select name="team" required="required">
							<option value="" disabled selected>Choose team</option>
							{% for team in teams %}
								<option value="{{team['id']}}">{{team['team_name']}}</option>
							{% endfor %}
						</select>
						<label>Team</label>
					</div>
				</div>
          </div>
          <div class="modal-footer">
                    <button style="margin-left:45px;" id="submitform" type='submit' name='btn_team' class='waves-effect waves-red btn-flat' onclick="check()">Add</button>
          </div>
        </form>
      </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('.modal').modal();
    $('select').formSelect();
     $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});
  });
function check(){
  var name = document.forms["workerform"]["workername"].value;
  var team = document.forms["workerform"]["team"].value;
  if (name !== "" && team !== "") 
    $('.modal').modal('close');
 }
</script>
{% endblock %}